<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>UFCG Carona - Login</title>
    <center><h1>Sistemas de Informação 1</h1></center>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <section>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Login</h4>
                </div>
                <div class="panel-body">
                    <p>Para realizar o login no sistema, preencha os dados abaixo e aperte 'Submit' quando tudo estiver pronto.</p>
                    <p><b>Note que sua matricula deve ser uma matricula valida oferecida pela universidade.</b></p>
                    <form role="form" action="@routes.Application.authenticate()" enctype="multipart/form-data" method="post">
					  @if(flash.containsKey("success")){
					  @flash.get("success")
					  }
					  @if(flash.containsKey("error")){
					  @flash.get("error")
					  }
                      <div class="form-group">
                        <input type="text" name="registrationId" placeholder="RegistrationId (matricula)" required>
                      </div>
                      <div class="form-group">
                        <input type="password" name="password" id="password" placeholder="Password" required>
                      </div>					 					  
                      <input type="submit" class="btn btn-success">
					  <a href="/signup" class="btn btn-warning">SignUp</a>
                      <br> <br>
                    </form>
                </div>
            </div>
        </section>
    </div>
	
</body>
</html>
